@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Oswald:wght@700&display=swap');

.repo {
    margin: 20px;
}

.card {
    margin-top: 50px; 
}

.ui.card {
    border: 2px solid rgb(145, 136, 136);  
    font-family: "Orbitron";
    font-size: 90%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ui.card>.content {
    background: linear-gradient(to left, #414345, #232526);
}

.ui.card>.content>.header{
    color:rgb(175, 185, 194);
    font-family: "Orbitron";
    margin-bottom: 5px;
}

.ui.card .meta :last-child, .ui.card>.extra a:not(.ui) {
    color:rgb(175, 185, 194);
    font-family: "Orbitron";
}

.ui.icon.input>input {
    border: none;
}

.ui.card>.content>.description {
    color: rgb(190, 200, 208);
}

