body {
  background: linear-gradient(to left, #414345, #232526);
  letter-spacing: 2px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 20px;
  font-size: 25px;
}

.ui.button {
  background-color: #282b2c;
 border: 2px solid rgb(145, 136, 136);
 color: rgb(145, 136, 136);
}


